@font-face {
   font-family: 'JackportRegularNcv-BeY3';
   font-display: swap;
   src: url('file:///C:/Users/Axelc/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-10-09_111726/fonts/JackportRegularNcv-BeY3/font.ttf');
}
